#body {
  margin: 0;
  padding: 0;
}

#title {
  font-family: "Tillana", cursive;
  font-size: 45px;
  width: 1000px;
  margin: 60px auto 0 auto;
  line-height: 10px;

}
#title span {
  font-weight: normal;
  font-size: 15px;
}
#map {
  height: 600px;
  width: 1000px;
  margin: 10px auto 0 auto;
}

.slidercontainer {
  font-family: "Tillana", cursive;
  margin: 20px auto 0 auto;
  width: 40vw; /* Width of the outside container */
}
.slidercontainer h2 {
  margin:0;
}

/* The slider itself */
.slider {
  width: 40vw; /* Full-width */
  height: 15px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

#lightbox {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #FFFFFF;
}

#innerlightbox {
  background-color: white;
  height: 400px;
  width: 1400px;
  text-align: center;

  margin: 0;
  position: absolute;
  top: 70px;
  left: 250px;
}

#LBArrow {
  position: absolute;
  width: 400px;
  top: 0;
  left: 0;
  transform: rotate(-100deg);
}

#innerlightbox h1 {
  margin-top: 70px;
  font-size: 75px;
}

#innerlightbox p {
  font-size: 40px;
}

@media screen and (max-width: 437px) {
  #title {
    width: 90vw;
  }
  #map {
    height: 300px;
    width: 90vw;
  }
}
